# Environment variables for the application
NODE_ENV=development
PORT=3000

# Database configuration
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=admin
DB_NAME=ads_task_hub_db

# JWT configuration
JWT_SECRET=supersecretkey
JWT_EXPIRES_IN=30d